/* .Wrapper{
  display: flex;
} */
.header {
  margin: 10px 10px;
}
.icon {
  cursor: pointer;
}
.mydialog {
  width: 40vw;
}

@media screen and (max-width: 40em) {
  .mydialog {
    width: 75vw;
  }
}
.action-icon {
  padding: 5px 5px;
}
.errors {
  color: red;
  font-size: 15px;
}
.name {
  text-transform: capitalize;
}
.subjects {
  list-style-type: none; padding: 0px 0px;
}
